{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "compat/compat": 2,
    "consistent-return": "off",
    "comma-dangle": 2,
    "generator-star-spacing": "off",
    "global-require": "off",
    "max-len": "off",
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "no-restricted-syntax": "off",
    "no-render-return-value": "off",
    "no-use-before-define": "off",
    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "object-curly-newline": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-no-bind": "off",
    "react/no-render-return-value": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off"
  }
}